body {
  background-color: #b8bac6;
  font-family: "Comfortaa", cursive;
}

html {
  font-size: 62.5%;
}

.todo {
  text-align: center;
  margin: 6rem 0;

  h1 {
    font-weight: 700;
    margin-bottom: 3rem;
  }

  &_form {
    background-color: #f7f7f9;
    border-radius: 15px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    width: 50%;

    input[type="text"] {
      background-color: #f7f7f9;
      border: 0;
      color: #232529;
      font-size: 1.6rem;
      font-family: "Comfortaa", sans-serif;
      padding: 0.5rem 0;
      width: 100%;
      outline: none;

      &::placeholder {
        opacity: 0.5;
        transition: all 0.5s ease;
      }

      &:focus::placeholder {
        opacity: 0;
      }
    }

    button {
      background-color: #bdc5d3;
      border-radius: 10px;
      border: 0;
      color: #fff;
      font-size: 2rem;
      line-height: 1;
      margin-left: 1rem;
      padding: 0.75rem 1.25rem;
      transition: all 0.5s ease;

      &:hover,
      &:focus {
        background-color: #9ca3ae;
      }
    }
  }

  &__list {
    list-style: none;
    margin: 3rem auto;
    padding: 0;
    width: 50%;

    li {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      font-size: 1.8rem;
      text-align: left;
      margin-bottom: 1rem;
      padding: 1rem 0;
      animation: append-animate 0.3s ease;
    }

    .delete > i {
      cursor: pointer;
      opacity: 0.5;
      transition: all 0.5s ease;

      &:hover {
        opacity: 1;
      }
    }
  }
}

@keyframes append-animate {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
